// disable Flickity carousel for large devices 
.main-carousel:after {
  content: '';
  display: none; 
}

@include mobile {
  	.main-carousel:after {
		content: 'flickity';
	}

	.main-carousel {
		.carousel-cell {
			height: 100px;
			width: 30%; 
		}

		//.flickity-page-dots,  
		.flickity-prev-next-button {
			display: none; 
		}

		.flickity-page-dots {
			bottom: -5px; 

			li {
				margin: 0 12px; 
			}
		} 
	}
}

@include tablet {
	.flickity-page-dots,  
	.flickity-prev-next-button {
		display: none; 
	}
}